<a href="https://colab.research.google.com/github/dweizzz/datathon23/blob/main/Datathon_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib as plot
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [4]:
df = pd.read_csv('/content/drive/My Drive/Immunisation.csv')

In [5]:
df.head()

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,ACATHEPB,Immunisation: Hepatitis B,ENFANTTX,% of children immunised,AUS,Australia,2010,2010,91.6,NaN,NaN
1,ACATHEPB,Immunisation: Hepatitis B,ENFANTTX,% of children immunised,AUS,Australia,2011,2011,91.6,NaN,NaN
2,ACATHEPB,Immunisation: Hepatitis B,ENFANTTX,% of children immunised,AUS,Australia,2012,2012,91.8,NaN,NaN
3,ACATHEPB,Immunisation: Hepatitis B,ENFANTTX,% of children immunised,AUS,Australia,2013,2013,91.0,NaN,NaN
4,ACATHEPB,Immunisation: Hepatitis B,ENFANTTX,% of children immunised,AUS,Australia,2014,2014,91.2,NaN,NaN

In [6]:
to_drop = ['VAR','UNIT','Measure','COU','YEA', 'Flag Codes','Flags']
df.drop(to_drop, inplace=True, axis=1)
df.head()

                    Variable    Country  Year  Value
0  Immunisation: Hepatitis B  Australia  2010   91.6
1  Immunisation: Hepatitis B  Australia  2011   91.6
2  Immunisation: Hepatitis B  Australia  2012   91.8
3  Immunisation: Hepatitis B  Australia  2013   91.0
4  Immunisation: Hepatitis B  Australia  2014   91.2

In [7]:
#finding out the immunisation type with the greatest amount of data
dfDiph = df[df['Variable'].str.contains('Immunisation: Diphtheria, Tetanus, Pertussis')]
print(len(dfDiph.index))
print("-------------------")
dfInf = df[df['Variable'].str.contains('Immunisation: Influenza')]
print(len(dfInf.index))
print("-------------------")
dfHep = df[df['Variable'].str.contains('Immunisation: Hepatitis B')]
print(len(dfHep.index))
print("-------------------")

530
-------------------
342
-------------------
444
-------------------

In [8]:
# deciding to go with Immunisation: Diphtheria, Tetanus, Pertussis as the best indicator of level of immunisation
df = dfDiph
df.head()

                                         Variable    Country  Year  Value
690  Immunisation: Diphtheria, Tetanus, Pertussis  Australia  2010   92.0
691  Immunisation: Diphtheria, Tetanus, Pertussis  Australia  2011   92.0
692  Immunisation: Diphtheria, Tetanus, Pertussis  Australia  2012   92.2
693  Immunisation: Diphtheria, Tetanus, Pertussis  Australia  2013   91.4
694  Immunisation: Diphtheria, Tetanus, Pertussis  Australia  2014   91.6

In [9]:
# Count the number of unique values in the Country column -> 46 unique countries being represented 
df['Country'].nunique()

46

In [10]:
# Convert unique countries to List
list_countries = df.Country.unique().tolist()
print(list_countries)
print(len(list_countries))

['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovak Republic', 'Spain', 'Sweden', 'Switzerland', 'Türkiye', 'United Kingdom', 'United States', 'Brazil', 'Chile', "China (People's Republic of)", 'Estonia', 'India', 'Indonesia', 'Israel', 'Russia', 'Slovenia', 'South Africa', 'Colombia', 'Costa Rica', 'Lithuania', 'Latvia', 'Argentina', 'Peru']
46

In [11]:
for country in list_countries:
  name = "df"+ country
  print(name)
  name = df[df['Country'].str.contains(country)]
  print(len(name))

dfAustralia
12
dfAustria
11
dfBelgium
11
dfCanada
11
dfCzech Republic
12
dfDenmark
12
dfFinland
11
dfFrance
11
dfGermany
11
dfGreece
11
dfHungary
12
dfIceland
12
dfIreland
12
dfItaly
11
dfJapan
11
dfKorea
10
dfLuxembourg
11
dfMexico
12
dfNetherlands
12
dfNew Zealand
12
dfNorway
12
dfPoland
11
dfPortugal
11
dfSlovak Republic
12
dfSpain
12
dfSweden
11
dfSwitzerland
11
dfTürkiye
12
dfUnited Kingdom
12
dfUnited States
11
dfBrazil
11
dfChile
11
dfChina (People's Republic of)
0
dfEstonia
12
dfIndia
12
dfIndonesia
12
dfIsrael
11
dfRussia
12
dfSlovenia
11
dfSouth Africa
12
dfColombia
12
dfCosta Rica
12
dfLithuania
12
dfLatvia
12
dfArgentina
12
dfPeru
11

<ipython-input-11-5d754117fb94>:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  name = df[df['Country'].str.contains(country)]

In [12]:
#not removing china since there are 12 datasets when actually checked 
#since approximally equal numbers of immunisation data per country, we keep the dataset as such

In [13]:
#creating a separate dataframe with just the doctors  
df_doc = pd.read_csv('/content/drive/My Drive/Physicians.csv')
df_doc.head()

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,PHYSMEDE,Practising physicians,PERSMYNB,Number of persons (head counts),AUS,Australia,2011,2011,74100.0,E; B,Estimated value; Break
1,PHYSMEDE,Practising physicians,PERSMYNB,Number of persons (head counts),AUS,Australia,2012,2012,75258.0,E,Estimated value
2,PHYSMEDE,Practising physicians,PERSMYNB,Number of persons (head counts),AUS,Australia,2013,2013,77974.0,E; B,Estimated value; Break
3,PHYSMEDE,Practising physicians,PERSMYNB,Number of persons (head counts),AUS,Australia,2014,2014,80968.0,E,Estimated value
4,PHYSMEDE,Practising physicians,PERSMYNB,Number of persons (head counts),AUS,Australia,2015,2015,83490.0,E,Estimated value

In [14]:

to_drop = ['VAR','UNIT','Measure','COU','YEA', 'Flag Codes','Flags']
df_doc.drop(to_drop, inplace=True, axis=1)
df_doc.head()

                Variable    Country  Year    Value
0  Practising physicians  Australia  2011  74100.0
1  Practising physicians  Australia  2012  75258.0
2  Practising physicians  Australia  2013  77974.0
3  Practising physicians  Australia  2014  80968.0
4  Practising physicians  Australia  2015  83490.0

In [15]:
# Count the number of unique values in the Country column for the doctor spreadsheet-> 46 unique countries being represented 
df_doc['Country'].nunique()
#not the same number as the previous doc

45

In [16]:
for country in list_countries:
  name = "df_doc"+ country
  print(name)
  name = df_doc[df_doc['Country'].str.contains(country)]
  print(len(name))

df_docAustralia
60
df_docAustria
24
df_docBelgium
46
df_docCanada
72
df_docCzech Republic
20
df_docDenmark
60
df_docFinland
58
df_docFrance
44
df_docGermany
72
df_docGreece
22
df_docHungary
48
df_docIceland
72
df_docIreland
54
df_docItaly
68
df_docJapan
24
df_docKorea
44
df_docLuxembourg
48
df_docMexico
22
df_docNetherlands
44
df_docNew Zealand
72
df_docNorway
72
df_docPoland
52
df_docPortugal
22
df_docSlovak Republic
22
df_docSpain
66
df_docSweden
62
df_docSwitzerland
48
df_docTürkiye
22
df_docUnited Kingdom
46
df_docUnited States
60
df_docBrazil
24
df_docChile
24
df_docChina (People's Republic of)
0
df_docEstonia
46
df_docIndia
20
df_docIndonesia
16
df_docIsrael
70
df_docRussia
20
df_docSlovenia
44
df_docSouth Africa
20
df_docColombia
24
df_docCosta Rica
0
df_docLithuania
66
df_docLatvia
50
df_docArgentina
12
df_docPeru
6

<ipython-input-16-9e34a7f3860e>:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  name = df_doc[df_doc['Country'].str.contains(country)]

In [17]:
for country in list_countries:
  value = "df_doc"+ country
  print(value)
  value = df_doc[df_doc['Country'].str.contains(country)]
  print(len(name))

df_docAustralia
6
df_docAustria
6
df_docBelgium
6
df_docCanada
6
df_docCzech Republic
6
df_docDenmark
6
df_docFinland
6
df_docFrance
6
df_docGermany
6
df_docGreece
6
df_docHungary
6
df_docIceland
6
df_docIreland
6
df_docItaly
6
df_docJapan
6
df_docKorea
6
df_docLuxembourg
6
df_docMexico
6
df_docNetherlands
6
df_docNew Zealand
6
df_docNorway
6
df_docPoland
6
df_docPortugal
6
df_docSlovak Republic
6
df_docSpain
6
df_docSweden
6
df_docSwitzerland
6
df_docTürkiye
6
df_docUnited Kingdom
6
df_docUnited States
6
df_docBrazil
6
df_docChile
6
df_docChina (People's Republic of)
6
df_docEstonia
6
df_docIndia
6
df_docIndonesia
6
df_docIsrael
6
df_docRussia
6
df_docSlovenia
6
df_docSouth Africa
6
df_docColombia
6
df_docCosta Rica
6
df_docLithuania
6
df_docLatvia
6
df_docArgentina
6
df_docPeru
6

<ipython-input-17-ca2c31251df1>:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  value = df_doc[df_doc['Country'].str.contains(country)]

In [19]:
df_doc = df_doc[df_doc['Variable'].str.contains('Practising physicians')]

In [20]:
df_doc.head()

                Variable    Country  Year    Value
0  Practising physicians  Australia  2011  74100.0
1  Practising physicians  Australia  2012  75258.0
2  Practising physicians  Australia  2013  77974.0
3  Practising physicians  Australia  2014  80968.0
4  Practising physicians  Australia  2015  83490.0